[Unit]
Description=Linux Monitor Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 "/home/miruna/Desktop/git/Monitorizare-sistem-Linux/Monitor.py"
WorkingDirectory=/home/miruna/Desktop/git/Monitorizare-sistem-Linux
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target

